<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'layout.twig' %}


</head>

<body>

    <div id="wrapper">

    {% include 'left-menu.twig' %}


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Emailer
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Emailer</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Afegir contactes
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>A quina llista ho afegim?</label>
                        <div class="form-group" class="col-lg-6">
                            <select id='list'>
                            {% for llista in lists %}
                                <option value="{{ llista.id }}">{{ llista.name }}</option>
                            {% endfor %}
                            </select>
                        </div>     

                        </div>
                        <div class="form-group">
                            <textarea id="emails" class="form-control" placeholder="Emails separats per comes"></textarea>
                        </div>                        

                        <br>

                        <button id="addEmails" type="button" class="btn btn-lg btn-success">Afegeix</button>
                    </div>
                </div>

                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    {% include 'scripts.twig' %}
    <script src="{{ app.asset_path }}/js/controllers/addcontacts.js"></script>

<input id="csrfToken" type="hidden" value="{{ csrfToken }}">

</body>

</html>
