<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'layout.twig' %}


</head>

<body>

    <div id="wrapper">

    {% include 'left-menu.twig' %}


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Blog - Llistat d'articles
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Articles al blog</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Articles
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <a class="btn btn-primary btn-lg" href="adminblog/create" role="button">+ Crea un article</a>
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Articles publicats</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <!-- active success warning danger -->
                                        <th>Títol/a</th>
                                        <th>Autor/a</th>
                                        <th>Creació</th>
                                        <th>Publicat</th>
                                    </tr>
                                </thead>
                                <tbody>

                                {% for data in data %}
                                
                                    <tr class="{{data.css_row}}">
                                        <!-- active success warning danger -->
                                        <th><a href="http://{{ app.domain }}/blog/{{data.url}}" style="color:black" target="_blank">{{ data.title }}</a></th>
                                        <th>{{ data.name }} {{ data.surname1 }}</th>
                                        <th>{{ data.date }}</th>
                                        <th><a href="http://{{ app.domain }}/blog/{{data.url}}" style="color:black" target="_blank">{{ data.active_name }}</a></th>
                                    </tr>
                                
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    {% include 'scripts.twig' %}


</body>

</html>
