<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'layout.twig' %}


</head>

<body>

    <div id="wrapper">

    {% include 'left-menu.twig' %}


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Edita l'entrada
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Blog</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Edita
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">

                        <div class="form-group">
                            <input id="title" class="form-control" placeholder="Títol de l'article" value="{{ data.title }}">
                        </div>                        
                        <div class="form-group">
                            <input id="abstract" class="form-control" placeholder="Escriu un abstracte" value="{{ data.abstract | striptags }}">
                        </div>
                        <div class="grid-width-100">
                            <div id="editor">
                                {{ data.content | raw }}
                            </div>
                        </div>
                        <br>
                        <!-- <button id="sendtest" type="button" class="btn btn-lg btn-warning">Fes una vista previa</button> -->
                        <button id="editfinal" type="button" class="btn btn-lg btn-success">Guarda els canvis</button>
                    </div>
                </div>

                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    {% include 'scripts.twig' %}
    <script src="{{ app.asset_path }}/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="{{ app.asset_path }}/js/controllers/editblog.js"></script>


<input id="csrfToken" type="hidden" value="{{ csrfToken }}">
<input id="url" type="hidden" value="{{ data.url }}">

</body>

</html>
