<!DOCTYPE html>
<html lang="en">
	<head>

    <title>{{ data.title }}</title>

    {% include 'head_blog.twig' %}

    <meta name="author" content="{{ data.name }} {{ data.surname1 }}"/>
    <meta name="DC.Creator" content="{{ data.name }} {{ data.surname1 }}"/>
    <meta property='og:title' content="{{ data.title }}"/>
    <meta property="og:author" content="{{ data.name }} {{ data.surname1 }}"/>
    <meta property='og:url' content='{{ app.request.scheme ~ '://' ~ app.request.httpHost }}/blog/{{ data.url }}'/>
    <meta property='og:image' content="{{ app.asset_path }}/img/social.jpg"/>
    <meta property='og:type' content="blog"/>
    <meta property='og:description' content="{{ data.abstract | striptags }}"/>

	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">

    {% include 'header_blog.twig' %}

</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1  style="color:rgb(255,108,0)">
          <p class="lead"></p>
          <br>
        </h1>
      </div>

    </div> 
  </div><!-- /cont -->
  <div class="form-group input-group col-md-6 col-md-offset-3" style="opacity:0.9; text-align:center">
                        <span class="input-group-addon">@</span>
                        <input id="email_subscribe" type="email" class="form-control" placeholder="Subscriu-te i n'estaràs al dia de tot" style="padding:15px" required="">
                    <span class="input-group-btn">
                        <input id="subscriuBtn" class="btn btn-default" type="button" value="Subscriu"></span>
                    </div>

                <div class="col-md-12" id="subscriu_m" style="display:none">
                    <div class="lead alert alert-warning" role="alert"><p class="lead" style="color:black"><strong>{{ app.translator.trans('subscrit_c') }}</strong></p></div>
                </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
      
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
          <div class="row">    
{% if session %}

<div class="col-md-12">



<div class="bs-callout bs-callout-info" id="" style="border-left-color: #1b809e;padding: 20px;      margin: 20px 0;      border: 1px solid #eee;      border-left-width: 5px;      border-radius: 3px;">
  
{% if not data.active %}

    <h4>Aquest article no està publicat</h4>
    <p>Ara es troba en esborranys. Fes click al botó per a fer-lo públic quan trobis que tot està correcte</p>


  <a href="http://{{ app.domain }}/adminblog/edit/{{data.url}}"><button type="button" class="btn btn-default dropdown-toggle">Edita</button></a>
  <button id="publish" type="button" class="btn btn-success dropdown-toggle">Publica</button>

{% endif %}
  
{% if data.active %}
    <h4>Aquest article ha estat publicat</h4>
    <p>Si necessites fer-ne canvis posa'l a esborranys. Compte!</p>

  <button id="unpublish" type="button" class="btn btn-danger dropdown-toggle">Posa'l a esborranys</button>

{% endif %}

  </div>
  

  </div>
{% endif %}


            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="{{ app.asset_path }}/img/avatars/{{ data.avatar }}" style="width:100px;height:100px" class="img-circle"></a>
             <h4>{{ data.name }} {{ data.surname1 }}</h4>

            </div>
            <div class="col-md-10 col-sm-9">
              <h2>{{ data.title }}</h2>
              <div class="row">
                <div class="col-xs-9">
                  <small style="" class="text-muted">{{ data.date }}</small>
                  </div><br><br>
                <div class="col-md-8 col-xs-12">

                  <i>{{ data.abstract | raw}} </i> <br><br>

                  {{ data.content | raw }}

                  <br>
{% if data.active %}


<div class="fb-like" data-href="{{ app.request.scheme ~ '://' ~ app.request.httpHost }}/blog/{{ data.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<br><br>
{% endif %}
                </div>


 <div class="col-md-4 col-xs-12">
<div class="fb-page" data-href="https://www.facebook.com/terrabastall" data-width="100%" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/terrabastall"><a href="https://www.facebook.com/terrabastall">Associació Terrabastall - AHM</a></blockquote></div></div>                
</div>
              </div>
              <br><br>
            </div>
          </div>
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>

  <!--  <script type="text/javascript" src="{{ app.asset_path }}/js/modernizr.custom.js"></script> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{{ app.asset_path }}/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/helpers/ajax.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/bootstrap.js"></script>
    <script src="{{ app.asset_path }}/js/controllers/blog_article.js"></script>

    <script>
        APPservice = '';
        Lang = "{{ app.lang }}";
    </script>
<input id="url" type="hidden" value="{{ data.url }}">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40328716-3', 'auto');
  ga('send', 'pageview');

</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ca_ES/sdk.js#xfbml=1&version=v2.4&appId=86719787719";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>

	</body>
</html>