<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Blog - Terrabastall</title>


    {% include 'head_blog.twig' %}

    <meta name="author" content="ASSOCIACIÓ TERRABASTALL"/>
    <meta name="DC.Creator" content="ASSOCIACIÓ TERRABASTALL"/>
    <meta property='og:title' content="Blog AHM Terrabastall"/>
    <meta property="og:author" content="A.H.M. Terrabastall"/>
    <meta property='og:url' content='{{ app.request.scheme ~ '://' ~ app.request.httpHost }}'/>
    <meta property='og:image' content="{{ app.asset_path }}/img/social.jpg"/>
    <meta property='og:type' content="blog"/>

	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">

    {% include 'header_blog.twig' %}

</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1  style="color:rgb(255,108,0)">
          <p class="lead"></p>
          <br>
        </h1>
      </div>

    </div> 
  </div><!-- /cont -->
  <div class="form-group input-group col-md-6 col-md-offset-3" style="opacity:0.9; text-align:center">
                        <span class="input-group-addon">@</span>
                        <input id="email_subscribe" type="email" class="form-control" placeholder="Subscriu-te i n'estaràs al dia de tot" style="padding:15px" required="">
                    <span class="input-group-btn">
                        <input id="subscriuBtn" class="btn btn-default" type="button" value="Subscriu"></span>
                    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
      
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
{% for data in data %}

{% if data.active %}

          <!--/stories-->
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="blog/{{ data.url }}"><img alt="" src="{{ app.asset_path }}/img/avatars/{{ data.avatar }}" style="width:100px;height:100px" class="img-circle"></a>
              <h4>{{ data.name }} {{ data.surname1 }}</h4>

            </div>
            <div class="col-md-10 col-sm-9">
              <a class="story-title" href="blog/{{ data.url }}"><h2>{{ data.title }}</h2></a>
              <div class="row">
                <div class="col-xs-9">
                  <small style="" class="text-muted">{{ data.date }}</small><br>
                  <i>{{ data.abstract | raw}} </i> <br><br>

                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
{% endif %}

{% endfor %}
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>

  <!--  <script type="text/javascript" src="{{ app.asset_path }}/js/modernizr.custom.js"></script> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{{ app.asset_path }}/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/helpers/ajax.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/bootstrap.js"></script>
    <script src="{{ app.asset_path }}/js/controllers/blog_article.js"></script>

    <script>
        APPservice = '';
        Lang = "{{ app.lang }}";
    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40328716-3', 'auto');
  ga('send', 'pageview');

</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ca_ES/sdk.js#xfbml=1&version=v2.4&appId=86719787719";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>


	</body>
</html>