<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'layout.twig' %}


</head>

<body>

    <div id="wrapper">

    {% include 'left-menu.twig' %}


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Emailer
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Emailer</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Enviament
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Selecciona les llistes a enviar</label>
                            <div id="spam"></div>
                            <div class="checkbox">

                            {% for llista in lists %}

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="lists_check" class="lists_check" value="{{ llista.id }}">{{ llista.name }} ({{ llista.total }})
                                    </label>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="form-group">
                            <input id="assumpte" class="form-control" placeholder="Escriu l'assumpte de l'email massiu">
                        </div>                        
                        <div class="form-group">
                            <input id="titol" class="form-control" placeholder="Escriu el títol del missatge">
                        </div>
                        <div class="grid-width-100">
                            <div id="editor">
                            </div>
                        </div>
                        <br>
                        <button id="sendtest" type="button" class="btn btn-lg btn-warning">Envia't una prova a tu mateix</button>
                        <button id="sendfinal" type="button" class="btn btn-lg btn-success">Envia</button>
                    </div>
                </div>

                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    {% include 'scripts.twig' %}
    <script src="{{ app.asset_path }}/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="{{ app.asset_path }}/js/controllers/emailer.js"></script>


<input id="csrfToken" type="hidden" value="{{ csrfToken }}">

</body>

</html>
