
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" content="{{ app.translator.trans('home_title') }}"/>
    <meta http-equiv="title" content="{{ app.translator.trans('home_title') }}"/>
    <meta name="DC.Title" content="{{ app.translator.trans('home_title') }}"/>

    <meta name="description" content="{{ app.translator.trans('home_description') }}"/>
    <meta http-equiv="description" content="{{ app.translator.trans('home_description') }}"/>
    <meta http-equiv="DC.Description" content="{{ app.translator.trans('home_description') }}"/>

    <meta name="KEYWORDS" content="{{ app.translator.trans('keywords') }}"/>
    <meta http-equiv="keywords" content="{{ app.translator.trans('keywords') }}"/>

    <meta name="author" content="terrabastall.org">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ app.asset_path }}/img/favicon.ico" type="image/x-icon">
    <!--<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    -->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{{ app.asset_path }}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ app.asset_path }}/fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="{{ app.asset_path }}/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="{{ app.asset_path }}/css/owl.theme.css" rel="stylesheet" media="screen">
    <link href="{{ app.asset_path }}/css/multiform.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{{ app.asset_path }}/css/blog.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

