<!DOCTYPE html>
<html lang="{{ app.lang }}">
  <head>
    <title>AHM Terrabastall</title>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" content="{{ app.translator.trans('home_title') }}"/>
    <meta http-equiv="title" content="{{ app.translator.trans('home_title') }}"/>
    <meta name="DC.Title" content="{{ app.translator.trans('home_title') }}"/>

    <meta name="description" content="{{ app.translator.trans('home_description') }}"/>
    <meta http-equiv="description" content="{{ app.translator.trans('home_description') }}"/>
    <meta http-equiv="DC.Description" content="{{ app.translator.trans('home_description') }}"/>

    <meta name="KEYWORDS" content="{{ app.translator.trans('keywords') }}"/>
    <meta http-equiv="keywords" content="{{ app.translator.trans('keywords') }}"/>

    <meta name="author" content="terrabastall.org">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ app.asset_path }}/img/favicon.ico" type="image/x-icon">
    <!--<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    -->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{{ app.asset_path }}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ app.asset_path }}/fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="{{ app.asset_path }}/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="{{ app.asset_path }}/css/owl.theme.css" rel="stylesheet" media="screen">
    <link href="{{ app.asset_path }}/css/multiform.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{{ app.asset_path }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ app.asset_path }}/css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <meta name="author" content="ASSOCIACIÓ TERRABASTALL"/>
    <meta name="DC.Creator" content="ASSOCIACIÓ TERRABASTALL"/>

    <meta property='og:title' content="Associació Metal Terrabastall"/>
    <meta property="og:author" content="A.H.M. Terrabastall"/>
    <meta property='og:url' content='{{ app.request.scheme ~ '://' ~ app.request.httpHost }}'/>
    <meta property='og:image' content="{{ app.asset_path }}/img/social.jpg"/>
    <meta property='og:type' content="blog"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hidden-xs"><img src="{{ app.asset_path }}/img/logo.png" style="width:50%"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
           <li><a href="https://tickets.premiumguest.com/terrabastall/es/" target="_blank" class="page-scroll">Festival</a></li>
            <li><a href="#tf-home" class="page-scroll">{{ app.translator.trans('home') }}</a></li>

            <li><a href="#tf-about" class="page-scroll">{{ app.translator.trans('about') }}</a></li>
            <li><a href="#tf-team" class="page-scroll">{{ app.translator.trans('junta') }}</a></li>
            <li><a href="#tf-services" class="page-scroll">{{ app.translator.trans('what_we_do') }}</a></li>
            <li><a href="#tf-contact" class="page-scroll" style="margin-right:30px">{{ app.translator.trans('associat') }}</a></li>
            <li></li>
            <li></li>
            <li><a href="/?lang=cat" hreflang="ca" class="page-scroll" style="float:right;padding: 15px 3px !important; font-size:0.7em">CA |</a></li>
            <li><a href="/?lang=es" hreflang="es" class="page-scroll" style="float:right;padding: 15px 3px !important; font-size:0.7em">ES |</a></li>
            <li><a href="/?lang=en" hreflang="en" class="page-scroll" style="float:right;padding: 15px 3px !important; font-size:0.7em">EN</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1>{{ app.translator.trans('metal_ass') }} <strong><span class="color">{{ app.translator.trans('terrabastall') }}</span></strong></h1>
                <p class="lead">{{ app.translator.trans('the_union') }} <strong>{{ app.translator.trans('the_experience') }}</strong> {{ app.translator.trans('does') }} <strong>{{ app.translator.trans('force') }} {{ info.username }}</strong></p>
                <br>

                <div class="col-md-12" id="subscriu_m" style="display:none">
                    <div class="lead alert alert-warning" role="alert"><p class="lead" style="color:black"><strong>{{ app.translator.trans('subscrit_c') }}</strong></p></div>
                </div>

                {% if missatge %}
                <div class="col-md-12">
                    <div class="lead alert alert-warning" role="alert"><p class="lead" style="color:black"><strong>{{ missatge }}</strong></p></div>
                </div>
                {% endif %}

                <form id="subscriu_f">
                    <div class="form-group input-group col-md-6 col-md-offset-3" style="opacity:0.9; text-align:center">
                        <span class="input-group-addon">@</span>
                        <input id="email_subscribe" type="email" class="form-control" placeholder="{{ app.translator.trans('subscriu_m') }}" style="padding:15px" required>
                    <span class="input-group-btn">
                        <input id="subscriuBtn" class="btn btn-default" type="button" value="{{ app.translator.trans('subscriu_b') }}"></span>
                    </div>
                    <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
                </form>
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ app.asset_path }}/img/02.png" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>{{ app.translator.trans('about_us') }}</h4>
                            <h2>{{ app.translator.trans('un_aliatge') }} <strong>{{ app.translator.trans('de_metall') }}</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">{{ app.translator.trans('description_1') }} <strong>{{ app.translator.trans('description_2') }}</strong>, {{ app.translator.trans('description_3') }}.

                            <br><br>

                        {{ app.translator.trans('trajectoria_description') }}. </p>
                        <ul class="about-list">
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>{{ app.translator.trans('mission') }}</strong> - <em>{{ app.translator.trans('mission_d') }}</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>{{ app.translator.trans('atributs') }}</strong> - <em>{{ app.translator.trans('atributs_d') }}</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>{{ app.translator.trans('costumers') }}</strong> - <em>{{ app.translator.trans('costumers_d') }}</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Page
    ==========================================-->
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>{{ app.translator.trans('8_junta') }}<strong> {{ app.translator.trans('junta_t') }}</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{ app.asset_path }}/img/team/06.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jaume Mulé</h3>
                                <p>{{ app.translator.trans('president') }}</p>
                                <p>{{ app.translator.trans('president_d') }}.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{ app.asset_path }}/img/team/01.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Frederic Samarra</h3>
                                <p>{{ app.translator.trans('vice_president') }}</p>
                                <p>{{ app.translator.trans('vice_president_d') }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{ app.asset_path }}/img/team/03.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Ferran Guinovart</h3>
                                <p>{{ app.translator.trans('secretari') }}</p>
                                <p>{{ app.translator.trans('secretari_d') }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{ app.asset_path }}/img/team/05.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>María Fuentes</h3>
                                <p>{{ app.translator.trans('tresorer') }}</p>
                                <p>{{ app.translator.trans('tresorer_d') }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{ app.asset_path }}/img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Edgar Morales</h3>
                                <p>{{ app.translator.trans('vice_secre') }}</p>
                                <p>{{ app.translator.trans('vice_secre_d') }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{ app.asset_path }}/img/team/07.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Ian Fernández</h3>
                                <p>{{ app.translator.trans('vocal') }}</p>
                                <p>{{ app.translator.trans('vocal_2_d') }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{ app.asset_path }}/img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Guillermo Marcos</h3>
                                <p>{{ app.translator.trans('vocal') }}</p>
                                <p>{{ app.translator.trans('vocal_1_d') }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="{{ app.asset_path }}/img/team/08.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Carles González</h3>
                                <p>{{ app.translator.trans('vocal') }}</p>
                                <p>{{ app.translator.trans('vocal_3_d') }}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                    <h2>{{ app.translator.trans('i_som') }} <strong> {{ total_socis }} {{ app.translator.trans('persones') }}</strong> {{ app.translator.trans('emprenedores_mes') }}</h2>
                
            </div>
        </div>
    </div>

    <!-- Services Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>{{ app.translator.trans('les_linies') }}<strong> {{ app.translator.trans('generals') }}</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>{{ app.translator.trans('generals_d') }}.</em></small>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-calendar"></i>
                    <h4><strong>{{ app.translator.trans('events') }}</strong></h4>
                    <p>{{ app.translator.trans('events_d') }}</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-level-up"></i>
                    <h4><strong>{{ app.translator.trans('assemblea') }}</strong></h4>
                    <p>{{ app.translator.trans('assemblea_d') }}.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-heart-o"></i>
                    <h4><strong>{{ app.translator.trans('comissions') }}</strong></h4>
                    <p>{{ app.translator.trans('comissions_d') }}.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-bullhorn"></i>
                    <h4><strong>{{ app.translator.trans('difusio') }}</strong></h4>
                    <p>{{ app.translator.trans('difusio_d') }}.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Clients Section
    ==========================================-->
    <div id="tf-clients" class="text-center">
        <div class="overlay">
            <div class="container">

                <div class="section-title center">
                    <h2>{{ app.translator.trans('alguns_nostres') }} <strong>{{ app.translator.trans('colaboradors') }}</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div id="clients" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="{{ app.asset_path }}/img/client/01.png">
                    </div>
                    <div class="item">
                        <img src="{{ app.asset_path }}/img/client/02.png">
                    </div>
                    <div class="item">
                        <img src="{{ app.asset_path }}/img/client/03.png">
                    </div>
                    <div class="item">
                        <img src="{{ app.asset_path }}/img/client/04.png">
                    </div>

                </div>

            </div>
        </div>
    </div>




    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center" style="background-color:rgb(50,50,50)">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2 style="color:white">{{ app.translator.trans('growing') }} <strong>{{ app.translator.trans('associat') }}</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <small style="color:white"><em>{{ app.translator.trans('vols_saber') }}.</em></small>            
                    </div>

                   <!-- <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Message</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        
                        <button type="submit" class="btn tf-btn btn-default">Submit</button>
                    </form> -->

                    <form id="msform" method="POST" action="http://91.121.146.189/vhosts/terrabastall/httpdocs/web/index.php/register">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active">{{ app.translator.trans('account') }}</li>
                            <li>{{ app.translator.trans('registre_soci') }}</li>
                            <li>{{ app.translator.trans('quota_mayus') }}</li>
                        </ul>
                        <!-- fieldsets -->
                        <fieldset>
                            <h2 class="fs-title">{{ app.translator.trans('crea_compte') }}</h2>
                            <h3 class="fs-subtitle">{{ app.translator.trans('servira_per') }}</h3>
                            <input type="text" id="email" name="email" placeholder="{{ app.translator.trans('email') }}" required />
                            <input type="password" id="pass" name="pass" placeholder="{{ app.translator.trans('pass') }}" />
                            <input type="password" id="cpass" name="cpass" placeholder="{{ app.translator.trans('cpass') }}" />
                            <input type="button" name="next" class="next action-button" value="{{ app.translator.trans('next') }}" />
                        </fieldset>
                        <fieldset>
                            <h2 class="fs-title">{{ app.translator.trans('registre_soci_a') }}</h2>
                            <h3 class="fs-subtitle">{{ app.translator.trans('necessari_per') }}</h3>
                            <input type="text" id="name" name="name" placeholder="{{ app.translator.trans('name') }}" />
                            <input type="text" id="lastname" name="lastname" placeholder="{{ app.translator.trans('surname') }}" />
                            <input type="text" id="lastname2" name="lastname2" placeholder="{{ app.translator.trans('surname2') }}" />
                            <input type="text" id="dni" name="dni" placeholder="{{ app.translator.trans('dni') }}" />
                            <textarea id="address" name="address" placeholder="{{ app.translator.trans('address') }}"></textarea>
                            <input type="text" id="tel" name="tel" placeholder="{{ app.translator.trans('telf') }}" />
                            <input type="date" id="date" name="date" placeholder="{{ app.translator.trans('birthday') }}" />
                            <input type="button" name="previous" class="previous action-button" value="{{ app.translator.trans('ant') }}" />
                            <input type="button" name="next" class="next action-button" value="{{ app.translator.trans('next') }}" />
                        </fieldset>
                        <fieldset>
                            <h2 class="fs-title">{{ app.translator.trans('nomes_queda') }}</h2>
                            <h3 class="fs-subtitle">{{ app.translator.trans('quota_preu') }}</h3>
                            <input type="text" id="bank" name="bank" placeholder="{{ app.translator.trans('bank_account') }}" />
                            <input type="button" name="previous" class="previous action-button" value="{{ app.translator.trans('ant') }}" />
                            <input type="submit" id="submitform" name="submit" class="submit action-button" value="{{ app.translator.trans('do_soci') }}" /><br>
                            <small>{{ app.translator.trans('quota_desc') }}.</small>
                        </fieldset>
                        <br>
                        <div id="errorForm" class="alert alert-danger" role="alert" style="display:none">
                        </div>                       
                        <div id="successForm" class="alert alert-success" role="alert" style="display:none">
                          {{ app.translator.trans('registre_desc') }}
                        </div>
                    </form>

                <div class="faqregister" style="color:rgb(200,200,200)">
                    <h2>{{ app.translator.trans('faq') }}</h2>
                    <br>
                    <h3>{{ app.translator.trans('faq_1') }}</h3>
                    <p class="faqregisresp">{{ app.translator.trans('faq_1_d') }}.</p>
                    <h3>{{ app.translator.trans('faq_2') }}</h3>
                    <p class="faqregisresp">{{ app.translator.trans('faq_2_d') }}. </p>
                    <h3>{{ app.translator.trans('faq_3') }}</h3>
                    <p class="faqregisresp">{{ app.translator.trans('faq_3_d') }}.</p>
                    <h3>{{ app.translator.trans('faq_4') }}</h3>
                    <p class="faqregisresp">{{ app.translator.trans('faq_4_d') }}.</p>
                    <h3>{{ app.translator.trans('faq_5') }}</h3>
                    <p class="faqregisresp">{{ app.translator.trans('faq_5_d') }}.</p>
                    <h3>{{ app.translator.trans('faq_6') }}</h3>
                    <p class="faqregisresp">{{ app.translator.trans('faq_6_d') }}.</p>
                    <h3>{{ app.translator.trans('faq_7') }}</h3>
                    <p class="faqregisresp">{{ app.translator.trans('faq_8_d') }}. </p>
                    <h3>{{ app.translator.trans('faq_9') }}</h3>
                    <p class="faqregisresp">{{ app.translator.trans('faq_9_d') }} info@terrabastall.org</p>


                </div>
                </div>
            </div>

        </div>
    </div>

    <nav id="footer">
        <div class="container">
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/terrabastall" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <!--  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li>info@terrabastall.org</li>
                </ul>
            </div>

        </div>
    </nav>
    <style>
        #registerform .has-error .control-label,
        #registerform .has-error .help-block,
        #registerform .has-error .form-control-feedback {
            color: #f39c12;
        }

        #registerform .has-success .control-label,
        #registerform .has-success .help-block,
        #registerform .has-success .form-control-feedback {
            color: #18bc9c;
        }

    </style>

  <!--  <script type="text/javascript" src="{{ app.asset_path }}/js/modernizr.custom.js"></script> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{{ app.asset_path }}/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/helpers/ajax.js"></script>
   <!-- <script type="text/javascript" src="{{ app.asset_path }}/js/mockjax.js"></script> -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{{ app.asset_path }}/js/forms/register.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/jquery.isotope.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/multiform.js"></script>

    <script src="{{ app.asset_path }}/js/owl.carousel.js"></script>
    <!-- jQuery -->
    <!-- jQuery easing plugin -->
    <script src="{{ app.asset_path }}/js/jquery.easing.min.js" type="text/javascript"></script>

    <!-- Javascripts

    ================================================== -->
    <script type="text/javascript" src="{{ app.asset_path }}/js/main.js"></script>

    <script>
        APPservice = '';
        Lang = "{{ app.lang }}";
    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40328716-3', 'auto');
  ga('send', 'pageview');

</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ca_ES/sdk.js#xfbml=1&version=v2.4&appId=86719787719";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>


<div style="position:fixed; padding:10px; left:0px; bottom:0%; opacity:0.8;">
<div style="hidden-xs;" class="fb-like" data-href="https://www.facebook.com/terrabastall" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div></div>
