
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Xarxa Interna - Terrabastall</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ app.asset_path }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ app.asset_path }}/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ app.asset_path }}/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{{ app.asset_path }}/fonts/font-awesome/css/font-awesome.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.{{ app.asset_path }}/js/1.4.2/respond.min.js"></script>
    <![endif]-->