<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'layout.twig' %}


</head>

<body>

    <div id="wrapper">

    {% include 'left-menu.twig' %}


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Emailer
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Emailer</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Gestiona llistes
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Llistes d'emails</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <!-- active success warning danger -->
                                        <th>Nom</th>
                                        <th>Concepte</th>
                                        <th>nº @</th>
                                        <th>Activa</th>
                                        <th>Data Creació</th>
                                    </tr>
                                </thead>
                                <tbody>


                                {% for llista in lists %}
                                    <tr class="{{ llista.status }}">
                                        <td>{{ llista.name }}</td>
                                        <td>{{ llista.concept }}</td>
                                        <td>{{ llista.total }}</td>
                                        <td>{{ llista.active }}</td>
                                        <td>{{ llista.date }}</td>
                                    </tr>
                                {% endfor %}
                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h2>Crea una llista</h2>
                        <div class="form-group">
                            <input id="name" class="form-control" placeholder="Nom de la llista">
                        </div>     
 
                        <div class="form-group">
                            <input id="assumpte" class="form-control" placeholder="Descripció (opcional)">
                        </div>     
                        <button id="addlist" type="button" class="btn btn-lg btn-success">Envia</button>

                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    {% include 'scripts.twig' %}
    <script src="{{ app.asset_path }}/js/controllers/lists.js"></script>

<input id="csrfToken" type="hidden" value="{{ csrfToken }}">

</body>

</html>
