<!DOCTYPE html>
<html lang="{{ app.lang }}">
  <head>
    <title>AHM Terrabastall</title>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" content="{{ app.translator.trans('home_title') }}"/>
    <meta http-equiv="title" content="{{ app.translator.trans('home_title') }}"/>
    <meta name="DC.Title" content="{{ app.translator.trans('home_title') }}"/>

    <meta name="description" content="{{ app.translator.trans('home_description') }}"/>
    <meta http-equiv="description" content="{{ app.translator.trans('home_description') }}"/>
    <meta http-equiv="DC.Description" content="{{ app.translator.trans('home_description') }}"/>

    <meta name="KEYWORDS" content="{{ app.translator.trans('keywords') }}"/>
    <meta http-equiv="keywords" content="{{ app.translator.trans('keywords') }}"/>

    <meta name="author" content="terrabastall.org">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ app.asset_path }}/img/favicon.ico" type="image/x-icon">
    <!--<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    -->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{{ app.asset_path }}/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ app.asset_path }}/fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="{{ app.asset_path }}/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="{{ app.asset_path }}/css/owl.theme.css" rel="stylesheet" media="screen">
    <link href="{{ app.asset_path }}/css/multiform.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
  <!--  <link rel="stylesheet" type="text/css"  href="{{ app.asset_path }}/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ app.asset_path }}/css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <meta name="author" content="ASSOCIACIÓ TERRABASTALL"/>
    <meta name="DC.Creator" content="ASSOCIACIÓ TERRABASTALL"/>

    <meta property='og:title' content="Associació Metal Terrabastall"/>
    <meta property="og:author" content="A.H.M. Terrabastall"/>
    <meta property='og:url' content='{{ app.request.scheme ~ '://' ~ app.request.httpHost }}'/>
    <meta property='og:image' content="{{ app.asset_path }}/img/social.jpg"/>
    <meta property='og:type' content="blog"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
body {
    margin: 0;
    padding: 0;
}
.puntos_bg {
    background: url(images/x.png);
    padding: 5px;
}
.barra-superior {
    margin: 0 auto;
    width: 95%;
    max-width: 960px;
}
p.texto-titulo {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
    padding: 10px 0;
    color: rgb(161, 244, 255);
    text-shadow: 0 1px 7px rgba(0,0,0,.7);
}
#logo {
    width: 320px;
    height: 320px;
    margin: 40px auto;
    background: url(images/logo.png) no-repeat rgba(20, 118, 143, .5) 50%;
    border-radius: 50%;
    border: 15px solid rgba(255, 255, 255, .2);
    padding: 13px;
    text-indent: -99999px;
}
#video1 {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    visibility: visible;
}
            #login {
                /* width: 555px; */
                height: 307px;
                margin: 0 auto;
                background-image: url("{{ app.asset_path }}/img/logo_complet.png");
                margin-top: 15.5%;
                background-repeat: no-repeat;
                background-position-x: center;
            }
            #login .form {
                width: 300px;
                height: 100px;
                margin: 0 auto;
                padding-top: 150px;
                text-align: center;
            }
            #login .form input {
                width: 100%;
                height: 30px;
                line-height: 20px;
                padding: 5px;
                margin-bottom: 5px;
                text-align: center;
                border: 1px solid black;
                background-color: #EEE;
                border-radius: 3px;
            }
            #login .form input:last-child {
                background-color: white;
                width: 50%;
                margin: 0px;
                cursor: pointer;
            }
            #login .form input:hover {
                background-color: #FFCCCC;
                color: #660000;
            }
        </style>
  </head>

<body>


    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hidden-xs"><img src="{{ app.asset_path }}/img/logo.png" style="width:50%"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-home" class="page-scroll">
</a></li>
            <li><a href="/?lang=cat" hreflang="ca" class="page-scroll" style="float:right;padding: 15px 3px !important; font-size:0.7em">CA |</a></li>
            <li><a href="/?lang=es" hreflang="es" class="page-scroll" style="float:right;padding: 15px 3px !important; font-size:0.7em">ES |</a></li>
            <li><a href="/?lang=en" hreflang="en" class="page-scroll" style="float:right;padding: 15px 3px !important; font-size:0.7em">EN</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
        <div id="login">

            <div class="form">
                <form id="loginForm">
                    <input id="user" type="email" name="user" placeholder="Email" required>
                    <input id="pass" type="password" name="password" placeholder="Contrasenya" required>
                    <input id="loginBtn" type="submit" value="Accedir">
                </form>

                {% if missatge %}
                <div class="col-md-12">
                    <div class="lead alert alert-warning" role="alert"><p class="lead" style="color:black"><strong>{{ missatge }}</strong></p></div>
                </div>
                {% endif %}
                <br>
                <div class="col-md-12" style="display:none">
                    <div id="errorForm"  class="lead alert alert-warning" role="alert"><p class="lead" style="color:black"><strong>aaaa</strong></p></div>
                </div>

                <div id="registre">
                   <!-- <ul>
                        <a href="register.php"><li>Associa't</li></a>
                        <li>Recupera contrasenya</li></a>
                    </ul> -->
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>




    <video id="video1" loop autoplay preload poster="" muted>
        <source src="{{ app.asset_path }}/videos/aftermoviech2012.mp4" type="video/mp4" />
        <source src="{{ app.asset_path }}/videos/aftermoviech2012.webm" type="video/webm" />
        <source src="{{ app.asset_path }}/videos/aftermoviech2012.ogv" type="video/ogg" />
    </video>

  <!--  <script type="text/javascript" src="{{ app.asset_path }}/js/modernizr.custom.js"></script> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{{ app.asset_path }}/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/helpers/ajax.js"></script>
   <!-- <script type="text/javascript" src="{{ app.asset_path }}/js/mockjax.js"></script> -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{{ app.asset_path }}/js/forms/register.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/jquery.isotope.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/multiform.js"></script>

    <script src="{{ app.asset_path }}/js/owl.carousel.js"></script>
    <!-- jQuery -->
    <!-- jQuery easing plugin -->
    <script src="{{ app.asset_path }}/js/jquery.easing.min.js" type="text/javascript"></script>

    <!-- Javascripts

    ================================================== -->
    <script type="text/javascript" src="{{ app.asset_path }}/js/main.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/forms/login.js"></script>

    <script>
        APPservice = '';
        Lang = "{{ app.lang }}";
    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40328716-3', 'auto');
  ga('send', 'pageview');

</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ca_ES/sdk.js#xfbml=1&version=v2.4&appId=86719787719";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>


<div style="position:fixed; padding:10px; left:0px; bottom:0%; opacity:0.8;">
<div style="hidden-xs;" class="fb-like" data-href="https://www.facebook.com/terrabastall" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div></div>
