<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="signinwith">Salir</h4>
        </div>
        <div class="modal-body">
            <p>{{ app.translator.trans('sure_logout') }}</p>
            <button type="button" data-dismiss="modal" class="button sm-buttons btn-success">{{ app.translator.trans('no') }}</button>
            <button id="logoutbutton" class="button sm-buttons btn-danger">{{ app.translator.trans('yes') }}</button>
        </div>
    </div>
</div>