
    <!-- jQuery -->
    <script type="text/javascript" src="{{ app.asset_path }}/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/helpers/ajax.js"></script>
    <script type="text/javascript" src="{{ app.asset_path }}/js/controllers/logout.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ app.asset_path }}/js/bootstrap.min.js"></script>


    <script>
        APPservice = '';
        Lang = "{{ app.lang }}";
    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40328716-3', 'auto');
  ga('send', 'pageview');

</script>