<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'layout.twig' %}


</head>

<body>

    <div id="wrapper">

    {% include 'left-menu.twig' %}


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Listat de socis
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Socis</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Llistat de socis
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Socis cobrats</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <!-- active success warning danger -->
                                        <th>Nom</th>
                                        <th>DNI</th>
                                        <th>@</th>
                                        <th>Tel</th>
                                        <th>Aniversari</th>
                                        <th>nº Soci</th>
                                        <th>Va pagar</th>
                                        <th>Quota</th>
                                    </tr>
                                </thead>
                                <tbody>
                        {% for registres in registres %}


                                    <tr class="{{ registres.status }}">
                                        <td>{{ registres.name }} {{ registres.surname1 }} {{ registres.surname2 }}</td>
                                        <td>{{ registres.dni }}</td>
                                        <td>{{ registres.email }}</td>
                                        <td>{{ registres.telf }}</td>
                                        <td>{{ registres.birth }}</td>
                                        <td>{{ registres.number_associated }}</td>
                                        <td>{{ registres.renovat }}</td>
                                        <td>{{ registres.quota }}€</td>
                                    </tr>
                        {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Total d'usuaris pagats i no pagats</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <!-- active success warning danger -->
                                        <th>Nom</th>
                                        <th>DNI</th>
                                        <th>@</th>
                                        <th>Tel</th>
                                        <th>Adreça</th>
                                        <th>nº Soci</th>
                                    </tr>
                                </thead>
                                <tbody>

                        {% for registres in confirmats_no_pagats %}

                                    <tr class="warning">
                                        <td>{{ registres.name }} {{ registres.surname1 }} {{ registres.surname2 }}</td>
                                        <td>{{ registres.dni }}</td>
                                        <td>{{ registres.email }}</td>
                                        <td>{{ registres.telf }}</td>
                                        <td>{{ registres.address }}</td>
                                        <td>{{ registres.number_associated }}</td>
                                    </tr>
                        {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Usuaris sense confirmar compte</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <!-- active success warning danger -->
                                        <th>Nom</th>
                                        <th>DNI</th>
                                        <th>@</th>
                                        <th>Tel</th>
                                        <th>Adreça</th>
                                        <th>nº Soci</th>
                                    </tr>
                                </thead>
                                <tbody>

                        {% for registres in no_confirmats %}

                                    <tr class="danger">
                                        <td>{{ registres.name }} {{ registres.surname1 }} {{ registres.surname2 }}</td>
                                        <td>{{ registres.dni }}</td>
                                        <td>{{ registres.email }}</td>
                                        <td>{{ registres.telf }}</td>
                                        <td>{{ registres.address }}</td>
                                        <td>{{ registres.number_associated }}</td>
                                    </tr>
                        {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    {% include 'scripts.twig' %}


</body>

</html>
