<!DOCTYPE html>
<html lang="es">
<head>
            <meta name="author" content="ASSOCIACIÓ TERRABASTALL"/>
        <meta name="DC.Creator" content="ASSOCIACIÓ TERRABASTALL"/>

        <meta property='og:title' content="ENTRADAS TERRABASTALL FEST"/>
        <meta property="og:author" content="A.H.M. Terrabastall"/>
        <meta property='og:url' content='http://terrabastall.org/ticketing'/>
        <meta property='og:image' content="https://www.premiumguest.com/cache/flyers_web/w_header2.jpg"/>
        <meta property='og:description' content="Ticketing del Festival de Metal Terrabastall. 13 y 14 de noviembre de 2015 a la Palma de Reus"/>
            
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="author" content="">
        <!-- css -->
        <!-- Main css dependencies-->
    <link rel="stylesheet" href="https://tickets.premiumguest.com/css/bootstrap/bootstrap.min.css?rev=0.0.2">
    <link rel="stylesheet" href="https://tickets.premiumguest.com/css/style.css?rev=0.0.2">
    <link rel="stylesheet" href="https://tickets.premiumguest.com/css/datepicker.css?rev=0.0.2">
    <!-- Fonts-->
    <link rel="stylesheet" href="https://tickets.premiumguest.com/css/font-awesome.min.css?rev=0.0.2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700?rev=0.0.2">
    <!-- CSS Theme-->
    <link rel="stylesheet" href="https://tickets.premiumguest.com/modules/terrabastall/css/bookingtool.css?rev=0.0.2">
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/modules/terrabastall/images/favicon.png">
    </head>
<style>
html {
  height: 100%;
  overflow: hidden; /* Hides scrollbar in IE */
}
 
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
 
#content {
  height: 100%;
}
</style>
</style>
<body>
<object id="#content" type="text/html" data="https://tickets.premiumguest.com/terrabastall/es/ahm-terrabastall/terrabastall-fest/2015-11-13/" width="100%" height="100%"></object>
</body>
</html>

