<!doctype html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
 		<link rel="shortcut icon" href="{{ app.asset_path }}/agenda/images/favicon.png"/>
		<title>Home | WeMusic - Music Band Event</title>

		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/bootstrap.min.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/settings.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/widget-calendar-full.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/style.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/commerce.css' type='text/css' media='all'/>
   		<link rel="stylesheet" type="text/css" href="{{ app.asset_path }}/fonts/font-awesome/css/font-awesome.css">
		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/jquery.mb.YTPlayer.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/owl.carousel.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/owl.theme.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/nivo-lightbox.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/nivo-default.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/mediaelementplayer.css' type='text/css' media='all'/>
		<link rel='stylesheet' href='{{ app.asset_path }}/agenda/css/layout.css' type='text/css' media='all'/>

		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Dosis:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
	<body class="page-menu-transparent">
		<!--preloader-->
        <div id="loading">
			<div id="loading-center">
				<div id="loading-center-absolute">
					<div class="object"></div>
					<div class="object"></div>
					<div class="object"></div>
					<div class="object"></div>
					<div class="object"></div>
					<div class="object"></div>
					<div class="object"></div>
					<div class="object"></div>
					<div class="object"></div>
					<div class="object"></div>
				</div>
			</div> 
		</div>
        <!--end preloader-->
		<div class="site">
			<div class="container-wrap">
				<div class="main-content container-fullwidth">
					<div class="row row-fluid">
						<div class="nocontainer">
							<div class="col-sm-12">
								<div class="noo-countdown">
									<ul class="full-background">
										<li style="background-image: url('{{ app.asset_path }}/agenda/images/blog/blog14.jpg')"></li>
										<li style="background-image: url('{{ app.asset_path }}/agenda/images/blog/blog12.jpg')"></li>
										<li style="background-image: url('{{ app.asset_path }}/agenda/images/blog/blog7.jpg')"></li>
										<li style="background-image: url('{{ app.asset_path }}/agenda/images/blog/blog10.jpg')"></li>
									</ul>
									<div class="overlay_parallax"></div>
									<div class="noo-countdown-content">
										<div class="container">
											<h2>ESTIGUES AL DIA DELS CONCERTS!</h2>
											<p>t'oferim desenes de concerts que t'esperen per a viure una experiència nova cada vegada</p>
							 				<div id="defaultCountdown"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row parallax row-fluid home-upcoming-event">
						<div class="overlay_parallax"></div>
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<div class="noo-shortcode-events">
										<h2 class="sh-event-title">
											Propers <span>esdeveniments</span>
										</h2>
										<p class="sh-ds">
											Els nostres esdeveniments i els dels nostres col.laboradors
										</p>
										<div class="noo-sh-event-content">
										{% for data in data %}
											<div class="noo-sh-list-event">
												<span class="entry-date">
													{{data.start_day_num}} <span class="month">{{data.start_day}} </span>
												</span>
												<div class="noo-thumbnail" style="background-image: url( {{data.cover.source}} )"></div>
												<div class="noo-shevent-content">
													<h4><a href="index.html#">{{data.name}}</a></h4>
													<div class="sh-meta">
														<span class="sh-date">
															<i class="fa fa-clock-o"></i>
															<span class="date-start dtstart">
																{{data.start_month}} 29-8:00 pm
															</span>
															
														</span>
														{% if data.place %}
														<span class="sh-address">
															<i class="fa fa-map-marker"></i>
															{{data.place.name}}
														</span>
														{% endif %}
														<span class="sh-address">
															<i class="fa fa-child"></i>
															{{data.reacted}} - reaccions
														</span>
													</div>
													<div class="sh-excerpt">
														<p>
															{{data.description}}
														</p>
													</div>
												</div>
											</div>
											<br>
										{% endfor %}
											<div class="noo-view-event">
												<a href="index.html#">Veure'n més</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

		<div class="mapWrapper">
			<div id="map"></div>
			<div id="text">
				<div id="comarcaName"><h1>Informaci&oacute;</h1></div>
				<div id="contentText">Seleccionar una comarca del mapa i fer clic per veure el seu contingut</div>
			</div>
		</div>

		<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/jquery-migrate.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/jquery.themepunch.tools.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/jquery.themepunch.revolution.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/modernizr-2.7.1.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/imagesloaded.pkgd.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/jquery.carouFredSel-6.2.1.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/jquery.touchSwipe.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/bootstrap.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/hoverIntent-r7.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/superfish-1.7.4.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/main.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/mediaelement-and-player.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/player.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/jquery.plugin.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/jquery.countdown.min.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/jquery.parallax.js'></script>
		<script type='text/javascript' src='{{ app.asset_path }}/agenda/js/owl.carousel.min.js'></script>

		<script type="text/javascript" src="{{ app.asset_path }}/plugins/catalunya-map-master/js/raphael-min.js"></script>

		<script type="text/javascript" src="{{ app.asset_path }}/plugins/catalunya-map-master/js/catalunya-map-path.js"></script>
		<script type="text/javascript" src="{{ app.asset_path }}/plugins/catalunya-map-master/js/catalunya-map-init.js"></script>

		<link rel="stylesheet" href="{{ app.asset_path }}/plugins/catalunya-map-master/css/main.css">
		<link rel="stylesheet" href="{{ app.asset_path }}/plugins/catalunya-map-master/css/catalunya-map.css">

		<script type="text/javascript">
            var $height_w   = jQuery(window).height();
	        jQuery('.noo-countdown').css('height',$height_w+'px');
	        jQuery(window).resize(function(){
                var $height_w = jQuery(window).height();
                jQuery('.noo-countdown').css('height',$height_w+'px');
	        });
            jQuery(function () {
                jQuery('.full-background li:first-child').show();
                var myVar = '';
                clearInterval(myVar);
                myVar = setInterval(function(){
                    jQuery('.full-background li:first-child').fadeOut(1200).next('li').fadeIn(1200).end().appendTo('.full-background');
                },3500);
	            
	                                
	            austDay = new Date(2016, 5 - 1,  31);
	            jQuery('#defaultCountdown').countdown({until: austDay});
	            jQuery('#year').text(austDay.getFullYear());
            });

        </script>
	</body>
</html>